.cabecalho{
    background-color: var(--cor-secundaria);
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8em;
    align-items: end;
    position: relative;
    border-radius: 0 0 6px 6px;
}


.banner__pesquisa{
    margin: 60px 0px 0px 0px;
    background-color: transparent;
    border-radius: 12px;
    border:1px solid var(--branco);
    color: var(--branco);
    padding: 0.6em;
    width: 100%;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: var(--branco);
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: right;
}
